.carousel-section {
    margin-top: var(--spacing-xlarge); /* Add extra-large spacing above */
    margin-bottom: var(--spacing-xlarge); /* Add extra-large spacing below */
    display: flex;
    justify-content: center;
}

.splide {
    width: 100%;
    max-width: 1200px;
    padding: 0 32px;
    box-sizing: border-box;
}

.splide__track {
    padding: 0;
    margin: 0;
}

.splide__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px; /* Add gap between the cards */
}

.splide__slide.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
    width: calc((100% / 3) - 20px); /* Adjust width to account for gap */
    margin: 0;
    padding: 0; /* Remove padding bottom to eliminate white border */
    transition: transform 0.3s ease;
}

.image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
    position: relative;
}

.vehicle-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white-text);
    padding: 8px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
}

.item-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.card-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

ul h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--kaki-green);
    width: auto;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .splide__slide.item-card {
        width: calc((100% / 3) - 20px); /* Adjust width for medium screens */
    }
    .image {
        height: 180px;
    }
}

@media (max-width: 768px) {
    .splide__slide.item-card {
        width: calc((100% / 2) - 20px); /* Adjust width for small screens */
    }
    .image {
        height: 140px;
    }