.carousel-section {
    margin-top: var(--spacing-large);
    display: flex;
    justify-content: center;
}

.splide {
    height: 512px;
    width: 80%; /* Adjust as needed to center the carousel */
}
.splide__slide.item-card {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 16px;
    border-radius: 8px;
    overflow: hidden;
    background-color: transparent; /* Change to transparent */
    box-sizing: border-box;
    width: 220px; /* Set fixed width for the cards */
    transition: transform 0.3s ease;
}

.splide__slide.item-card:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}

.image {
    width: 100%; /* Ensure the image div takes the full width of the parent */
    height: 200px; /* Set a fixed height for the image */
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
}

ul h3 {
    margin: 0;
    padding: 16px;
    font-size: 18px;
    color: var(--kaki-green);
    background-color: var(--light-grey); /* Add background color if needed */
    width: 100%;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .splide__slide.item-card {
        width: 180px; /* Adjust width for medium screens */
    }
    .image {
        height: 180px; /* Adjust height for medium screens */
    }
}

@media (max-width: 768px) {
    .splide__slide.item-card {
        width: 140px; /* Adjust width for small screens */
    }
    .image {
        height: 140px; /* Adjust height for small screens */
    }
}
