.vehicle-detail {
    margin: var(--spacing-xlarge);
    background-color: var(--second-bg-color);
    padding: var(--spacing-large);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: var(--spacing-large);
}

.vehicle-detail h2 {
    color: var(--kaki-green);
    margin-bottom: var(--spacing-medium);
}

.vehicle-detail p {
    color: var(--white-text);
    font-size: 1rem;
    margin-bottom: var(--spacing-small);
}

.vehicle-detail .vehicle-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    grid-row: span 2; /* Occupy two rows */
}

.vehicle-detail h4 {
    color: var(--white-text);
    font-size: 1.2rem;
    margin-bottom: var(--spacing-small);
}

.vehicle-detail ul {
    list-style: none;
    padding: 0;
}

.vehicle-detail .specs li {
    display: flex;
    justify-content: space-between;
    color: var(--white-text);
    font-size: 1rem;
    margin-bottom: var(--spacing-small);
}

.vehicle-detail .specs, .vehicle-detail .category, .vehicle-detail .theme, .vehicle-detail .tags {
    margin-bottom: var(--spacing-large);
}

.vehicle-detail .specs ul, .vehicle-detail .tags ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-medium);
}

.tags li {
    background-color: var(--kaki-green);
    color: var(--white-text);
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: 8px;
    font-size: var(--spacing-medium);
}

@media (max-width: 768px) {
    .vehicle-detail {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .vehicle-detail .vehicle-image {
        height: 200px;
        grid-row: auto; /* Reset the grid row span */
    }
}
