/* Styles pour vehicle-detail */
.vehicle-detail {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    color: var(--white-text);
}

.vehicle-photo img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.vehicle-info {
    margin-bottom: 20px;
}

.vehicle-info h1 {
    font-size: var(--font-size-h1);
    color: var(--kaki-green);
}

.vehicle-info p {
    font-size: var(--font-size-paragraph);
    margin-bottom: 10px;
}

.vehicle-specs {
    margin-bottom: 20px;
}

.vehicle-specs h2 {
    font-size: var(--font-size-h2);
    color: var(--kaki-green);
}

.vehicle-reviews {
    margin-bottom: 20px;
}

.vehicle-reviews h2 {
    font-size: var(--font-size-h2);
    color: var(--kaki-green);
}

.review {
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.vehicle-tags,
.similar-vehicles {
    margin-bottom: 20px;
}

.vehicle-tags h2,
.similar-vehicles h2 {
    font-size: var(--font-size-h2);
    color: var(--kaki-green);
}
