.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align to top for better form layout */
    padding: var(--spacing-xlarge);
    background-color: var(--second-bg-color);
    color: var(--white-text);
    min-height: 400px;
}

.contact-info {
    flex-basis: 45%;
    max-width: 45%;
    padding: var(--spacing-large);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form {
    flex-basis: 50%;
    max-width: 50%;
    padding: var(--spacing-large);
}

.form-group {
    margin-bottom: var(--spacing-medium);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: var(--spacing-small);
    margin-top: var(--spacing-small);
    background-color: var(--white-text);
    border: 1px solid var(--light-grey);
    color: var(--second-bg-color);
    border-radius: 10px; /* Rounded corners */
}

textarea {
    height: 150px; /* Sets a fixed height for text area */
}


@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        min-height: auto;
        height: auto;
    }
    
    .contact-info, 
    .contact-form {
        flex-basis: 100%;
        max-width: 100%;
    }
}
