html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;  /* Ensures body takes up the rest of the space */
    min-height: 100vh; /* Ensures at least full viewport height */
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    font-family: var(--font-primary);
}

header {
    background-color: var(--accent-brown);
    color: var(--white-text);
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 80px; /* Définir une hauteur pour le header */
}

.logo {
    position: absolute;
    left: 20px;
    height: 80%; /* Utiliser 100% de la hauteur du header */
    width: auto; /* Maintenir les proportions du logo */
    transform: scaleX(-1);
}

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centrer le nav horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px; /* Espacement entre les liens */
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--white-text);
    font-size: var(--font-size-nav);
    padding: 10px;
}

main {
    flex: 1; /* Prend tout l'espace disponible */
    display: flex; /* Permet à main d'être flexible */
    flex-direction: column; /* Direction de flux du contenu */
}.hero {
    background-image: url('../img/hero_land_rover.png');
    background-size: cover;
    background-position: center;
    height: 65vh;
    color: var(--white-text);
    width: 100%;
}

.hero-content {
    text-align: right;
    width: 100%; /* Sets the width to 100% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.hero-content h1,
.hero-content p {
    margin: var(--spacing-medium) var(--spacing-xlarge);
}

.hero-content button {
    display: block;
    width: auto;
    margin: var(--spacing-medium) auto 0;
    padding: 10px 20px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .hero {
        justify-content: center; /* Center content on smaller screens */
        padding-right: 0; /* Remove right padding on small screens */
    }

    .hero-content {
        text-align: center; /* Center text on smaller screens */
        max-width: 80%; /* Wider content area on smaller screens */
    }
}

h2 {
    font-family: var(--font-secondary); /* Only H2 uses Yellowtail */
    font-size: var(--font-size-h2);
    color: var(--light-grey);
}


.carousel {
    display: flex;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: auto;
}

/* Button general style - applied to all buttons */
.button {
    background-color: var(--kaki-green); /* Button background color */
    color: var(--white-text);             /* Text color for the button */
    border: none;                         /* No border */
    border-radius: 20px;                  /* Pill shape */
    padding: 10px 20px;                   /* Padding to adjust button size */
    cursor: pointer;                      /* Cursor changes to pointer to indicate it's clickable */
    text-align: center;                   /* Center the text inside the button */
    display: inline-block;                /* Allows the button to size according to its content */
    margin: 0 auto;                       /* Center the button horizontally if needed */
    width: auto;                          /* Width according to content size */
}


/* Contact section styles for full height and equal width */
.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centers content vertically */
    padding: var(--spacing-large);
    background-color: var(--second-bg-color);
    color: var(--white-text);
}

.contact-info, 
.contact-form {
    flex-basis: 50%; /* Each takes up 50% of the flex container */
    max-width: 50%; /* Ensures that neither section exceeds half of the container */
    padding: var(--spacing-large); /* Adds padding within each section */
}

.form-group {
    margin-bottom: var(--spacing-medium);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: var(--spacing-small);
    margin-top: var(--spacing-small);
    background-color: var(--white-text);
    border: 1px solid var(--light-grey);
    color: var(--second-bg-color);
    border-radius: 10px; /* Rounded corners */
}

textarea {
    height: 150px; /* Sets a fixed height for text area */
}


@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        min-height: auto;
        height: auto;
    }
    
    .contact-info, 
    .contact-form {
        flex-basis: 100%;
        max-width: 100%;
    }
}
footer {
    position: relative; /* Essential for containing absolutely positioned children */
    background-color: var(--kaki-green);
    color: var(--white-text);
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 12px; /* Smaller font size for footer content */
    width: 100%; /* Ensures footer takes full width */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically aligns the footer content */
    box-sizing: border-box; /* Include padding and border in the total width */
}

.footer-container {
    width: 100%; /* Ensure the container takes full width of the footer */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    box-sizing: border-box; /* Include padding and border in the total width */
}

.social-links {
    position: absolute;
    bottom: 10px; /* Position from the bottom of the footer */
    right: 20px; /* Position from the right of the footer */
    display: flex;
    gap: 10px;
}

.social-links img {
    width: 24px;
    height: 24px;
}

/* Ensuring other elements are properly aligned and sized */
.footer-links, .footer-contact, .footer-legal {
    text-align: left;
    padding: 5px; /* Adjust padding for visual balance */
}

.footer-links ul, .footer-legal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li, .footer-legal li {
    padding: 2px 0; /* Reduced vertical spacing */
}

.footer-copy {
    text-align: center;
    width: 100%; /* Full width to center the text appropriately */
    position: absolute;
    bottom: 0; /* Align at the bottom */
    left: 0; /* Align to the left */
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .social-links {
        position: absolute; /* Absolute position on small screens */
        bottom: 10px; /* Position from the bottom of the footer */
        right: 50%; /* Position in the middle of the footer */
        transform: translateX(50%); /* Center horizontally */
        display: flex;
        gap: 10px;
    }
}
